nav {
    font-size: 15px;
    font-family: 'Bitter';
    color: black;
}
header {
    top: 5px;
    left: 0;
    right: 0;
    text-align: center;
    color: black;
}
footer {
    position: fixed;
    bottom: 5px;
    left: 0;
    right: 0;
    text-align: center;
}