body{
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    font-size: 15px;
    font-family: 'Bitter';
    color: black;
}
header {
    top: 5px;
    left: 0;
    right: 0;
    text-align: center;
    color: black;
}
footer {
    position: fixed;
    bottom: 5px;
    left: 0;
    right: 0;
    text-align: center;
}
.container mt-4{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form-check-label {
    font-size: 15px;
}
.dropdown-scroll {
    max-height: 50px; /* Adjust the height as needed */
    overflow-y: auto;
  }
#nested-checkboxes1, #nested-checkboxes2, #nested-checkboxes3, #nested-checkboxes4, #nested-checkboxes5, #nested-checkboxes6, #nested-checkboxes7, #nested-checkboxes8, #nested-checkboxes9, #nested-checkboxes10 {
    margin-left: 20px; /* Adjust the margin to control the indentation */
}

#nested-checkboxes11, #nested-checkboxes12, #nested-checkboxes13, #nested-checkboxes14, #nested-checkboxes15 {
    margin-left: 40px; /* Adjust the margin to control the indentation */
}

#nested-checkboxes16, #nested-checkboxes17, #nested-checkboxes18, #nested-checkboxes19, #nested-checkboxes20 {
    margin-left: 60px; /* Adjust the margin to control the indentation */
}

.card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin:20px;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.card h2 {
    font-size: 24px;
}

.card p {
    font-size: 16px;
}

.info {
    margin-top: 20px;
}

.info p {
    text-align: left;
}

.button {
    margin-top: 20px;
}

.button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
}
#goBackButton{
    margin-top: 10px;
    margin-bottom: 10px;
}